<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Login</h1>

      <% if flash[:error].present? %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= form_tag login_path do %>
        <div class="form-group">
          <%= label_tag :email, nil, :class => 'form-label' %>
          <%= email_field_tag :email, nil, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :password, nil, :class => 'form-label' %>
          <%= password_field_tag :password, nil, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= submit_tag "Sign in", :class => 'btn btn-danger btn-lg btn-block m-2' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
