<div class="movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <h2><%= link_to movie.title, movie %></h2>
      <p><%= movie.release_date&.strftime('%Y') || '-' %></p>
      <%= image_tag movie.poster_image %>
    </div>
  <% end %>
</div>

<%= paginate @movies %>

<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :q, params[:q], placeholder: 'Search movies' %>
  <%= submit_tag 'Search' %>
<% end %>
