<div class="movies">
  <% @movies.each do |movie| %>
    <div class="movie">
    <% if movie.poster_image != 'N/A' %>
      <%= image_tag movie.poster_image %>
       <% end %>
       <h2><%= movie.title %></h2>
      <p><strong>Director:</strong> <%= movie.director %></p>
      <p><strong>Released:</strong> <%= movie.release_date %></p>
      <p><strong>Runtime:</strong> <%= movie.runtime %></p>
      <p><strong>Plot:</strong> <%= movie.plot %></p>
      <%= link_to 'Add a review', movie_path(movie.id) %>
    </div>
  <% end %>
</div>

<%= form_tag movies_path, :method => 'get' do  %>
  <%= label_tag :search, 'Movie Title' %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search' %>
<% end %>
