# Displaying the user's username
<h1><%= @user.username %></h1>

# Displaying the user's email
<p>Email: <%= @user.email %></p>

# Displaying the user's favorite genres
<p>Favorite genres: <%= @user.favorite_genres %></p>

# Displaying the user's joined date
<p>Date joined: <%= @user.date_joined.strftime("%B %d, %Y") %></p>

# Displaying the user's reviews
<h2>Reviews:</h2>

# Created a loop to iterate through the user's reviews and link to the reviews themselves as well as the review path. 
<ul>
  <% @user.reviews.each do |review| %>
    <li><%= link_to review.content, review_path(review) %></li>
  <% end %>
</ul>

# Displaying a link to view the user's profile
<%= link_to 'View Profile', user_path(@user) %>