<h1>New Review</h1>

<%= form_with(model: [@movie, @review], local: true) do |form| %>
  <%= form.hidden_field :movie_id, value: @movie.id %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :rating %>
    <%= form.select :rating, (1..5).to_a %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to 'Back', movie_path(@movie) %>
