<h1>Review Details</h1>

<p>User: <%= @review.user.username %></p>

<p>Rating: <%= @review.rating %></p>

<p>Comment:</p>
<p><%= @review.comment %></p>

<p><strong>Movie:</strong> <%= @review.movie.title %></p>

<%= link_to 'Edit', edit_review_path(@review) %>

<%= link_to 'Back', movie_path(@review.movie) %>
